.team {
  background-color: getColor(background-secondary);
}
.member {
  &__item {
    background: getColor(background-primary);
    border-radius: 0px 0px 4px 4px;
    box-shadow: $cardsTeam;
    border: 1px solid red;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__images {
    max-width: 100%;
    height: auto;
  }
  &__card {
    padding: 30px 32px;
  }
  &__name {
    color: getColor(text-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
}
.social-networks {
  &__link_member {
    background-color: getColor(background-primary);
    color: getColor(border-icon);
  }
  &__link_member:hover,
  &__link_member:focus {
    background-color: getColor(accent-primary);
    color: getColor(background-primary);
  }
}

@media screen and (min-width: 768px) {
  .member {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    &__item {
      flex-basis: calc((100% - 60px) / 2);
      margin-left: 30px;
      margin-top: 30px;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .member {
    &__item {
      flex-basis: calc((100% - 120px) / 4);
    }
  }
}
