.address {
  &__logo {
    display: block;
    color: getColor(theme-dark-primary);
    font-size: 24px;
    line-height: 1.17;
    padding: 60px 0 10px 0;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
  }
  &__company {
    display: block;
    color: getColor(theme-dark-primary);
    padding: 10px 0 4px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: getColor(accent-primary);
    }
  }
  &__link {
    display: block;
    color: getColor(theme-dark-secondary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: getColor(accent-primary);
    }
    &_mail {
      padding-top: 5px;
      padding-bottom: 4px;
    }
    &_tel {
      padding-top: 4px;
      padding-bottom: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
    &_right {
      margin-right: 70px;
    }
    &__logo {
      font-size: 26px;
      line-height: 1.19;
    }
    &__company {
      padding: 5px 0 4px 0;
    }
  }
}
