.footer {
  background-color: getColor(background-footer);
  &__container {
    text-align: center;
    padding: 60px 15px;
  }
  &__tablet {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &__tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-left: 76px;
      padding-right: 89px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      display: flex;
      align-items: baseline;
      text-align: left;
    }
    &__tablet {
      display: flex;
      align-items: baseline;
      margin-bottom: 0;
    }
  }
}
