.portfolio {
  background-color: var(--primary-background-color);
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__filter:not(:last-child) {
    margin-right: 8px;
  }
  &__btn {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--white-color-text);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
