.portfolio {
  background-color: getColor(background-primary);
  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: -8px;
    margin-top: -15px;
  }
  &__filter {
    margin-left: 8px;
    margin-top: 15px;
  }

  &__btn {
    color: getColor(text-secondary);
    background-color: getColor(background-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: getColor(accent-primary);
      color: getColor(theme-dark-primary);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &__nav {
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    &__nav {
      margin-bottom: 50px;
    }
  }
}
