:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --blaсk-background-color: #2f303a;
  --white-color-text: #ffffff;
  --secondary-white-color-text: rgba(255, 255, 255, 0.6);
  --black-color-text: #000000;
  --secondary-accent-color: #188ce8;
  --border-color: #ececec;
  --border-card-color: #eeeeee;
  --the-background: #e5e5e5;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --background-color-hero: #c4c4c4;
  --background-color-label: rgba(47, 48, 58, 0.8);
  --fill-color-icon: #afb1b8;
}
