.modal {
  position: absolute;

  padding: 40px;
  max-width: 450px;
  background-color: getColor(background-primary);
  border-radius: 4px;
  box-shadow: $modalShadow;
  // overflow-y: scroll;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    &:focus .modal__icon_close,
    &:hover .modal__icon_close {
      fill: getColor(accent-primary);
    }
  }
}
@media screen and (min-width: 450px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}
